*{
    font-family:"Segoe UI", Arial, sans-serif;
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    
}
img{
    height: 40px;
    width: 40px;
    margin-top: 1%;
    margin-left: 1%;
  

}
ul>li{
    display: inline;
    margin-left: 12vh;
    font-size: large;
    font-weight: 400;
    /* height: 19vh; */
    

}
ul{
    margin: 0%;
    display: inline-block;
    
}
input{
    height:38px;
    width: 140px;
    border-radius: 30px;
    margin-left: 8%;
}





#button{
 
    border: none;
    margin-top: 1%;

    
}
.button{
    margin-left: 33%;
    position: absolute;
    left: 50%;
    padding:2vh;
    padding-left: 3vh;
    background-color: #059862;
    color: white;
    border-radius: 30px;
}
.button2{
    margin: 0;
    padding-left: 3vw;
    padding-right: 1vw;
    padding-top: 2vh;
padding-bottom:2vh ;
margin-left: 18%;
position: absolute;
z-index: -1;
background-color:rgb(217, 238, 225);
color: #000000;
border-radius: 0px 30px 30px 0;

}


li:hover{
    color: #ffffff;
    cursor: pointer;
background-color:#059862 ;    
}
input:hover{
    border: 4px solid #059862;
    cursor: pointer;
    
}

.button:hover{
    background-color: #06754c;
    cursor:pointer;
}

header{
    height: 10vh;
    width: 100%;
top: 0vh;
}


.html{
    display: inline-block;
    height: 6vh;
   
    width: 5%;
    padding: 7px;
  
    box-sizing: border-box;
    
    margin: 0;
}
.html:hover{
    background-color: #000000;
    cursor: pointer;
    color: white;

}
#html{
   
    height:6vh ;
    margin-top: 1%;
    top: 10vh;
    z-index: 12;
    width: 100%;
    background-color:rgb(40,42 , 53);
    color: white;
}
.list{
    height: 5vh;
    width: 100%;
    padding: 5px;
   
    
}
#list{
    
    
    cursor: pointer;
    
        width: 16%;
        height: 80%;
        overflow-y: scroll; 
        overflow-x: hidden;
        padding: 10px;
        margin-top: 1%;
        /* z-index: 10; */
        position: fixed;
        float: left;    
    }
    

#list::-webkit-scrollbar{
    
        width: 1vw;
        
}
#list::-webkit-scrollbar-track{
    background: #ffffff;
}
#list::-webkit-scrollbar-thumb {
    background: #059862; 
    border-radius: 10px; 
}
div::-webkit-scrollbar-thumb:hover {
    background: #059862;
}
#tutorial{
    font-size:x-large;
}
.list:hover{
  
    background-color:rgba(0, 0, 0, 0.343);
}
 */
    
    

.home{
    
    background-color: #ffffff;
    float:left;
    z-index: -1 ;
    
    
}
div>h1{
    text-align: center;
    margin: 0;
    margin-top: 5vh;
    font-weight: 500;
    
}
h1:hover{
    color: #059862;
    cursor: pointer;
}
.front{
    height: 40px;
    width: 100px;
    border-radius:13px ;
    float: left;
    margin-left: 20%;
    margin-top: 22%;
    font-size: large;
    background-color: #059862;
    color: white;
    border: none;
}
.end{
    height: 40px;
    width: 100px;
    border-radius:13px ;
    float: right;
    margin-right: 10%;
    margin-top: 22%;
    font-size: large;
    background-color: #059862;
    color: white;
    border: none;

}
.front:hover{
    background-color:#06754c ;
    cursor: pointer;
}
.end:hover{
    background-color: #06754c;
    cursor: pointer;
}
img:hover{
    cursor: pointer;
}

